// Font
@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

// Font Family
$fontFamily: 'Livvic', sans-serif;

// Colors
$midnightGreen: hsl(186°, 98%, 17%);
$lightCoral: hsl(0°, 87%, 73%);
$white: hsl(0°, 0%, 100%);
$raptureBlue: hsl(179°, 42%, 63%);
$policeBlue: hsl(187°, 41%, 29%);
$deepJungleGreen: hsl(186°, 100%, 14%);
$sacramentoGreen: hsl(186°, 96%, 10%);
$darkGreen: hsl(186°, 100%, 8%);
